#menuHaut{
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#simplon{
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-left: -6%;
}
#nav{
	margin-top: 20px;
	margin-right: 5%;
	width: 65%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	text-decoration: none;
}
#nav li a {
	display: inline-flex;
	text-decoration: none;
	list-style: none;
	color: white;
	font-family: 'Rammetto One', cursive;
	font-size: 1em;
}
#logoSimplon{
	margin-top: 8px;
	margin-left: 24px;
	width: 3em;
	height: 3em;
	margin-top: 0,5em;
}

/*START LUCIE*/
.lucie { /*formulaire part */
	display: flex;
	justify-content: space-between;
	padding-left: 20em;

}


.lucie .right { /* adresse */
	padding-right: 18px;
}

.lucie .right .map { /* goole maps lien */
	border: 1px solid grey;
	margin-top: 4.5em;
}


.partenaires { /*box gris */
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 22em;
	background: #777777;
}

.partenaires img {
	margin: 3em;
	/*border: solid 2px black;*/


}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 94.5em;
	height: 4em;
	background: black;
}

footer img {
	justify-content: center;
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius: 100%;
}


/*END LUCIE*/